body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}
.HeaderContainer {
  display: flex;
  justify-content: center;
}
.Header {
  font-size: 3rem;
}
